.title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #213555;
}

.subtitle {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: #213555;
}

.heading {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #213555;
}

.form-container {
    -fx-spacing: 5;
}

.form-container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #213555;
}

.contract-type-selector {
    -fx-background-color: #FFF;
}

.form-container .input-field {
    -fx-background-color: #FFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

Button {
    -fx-background-color: #213555;
    -fx-text-fill: #FFF;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.error-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #F00;
}

.success-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #3E7B27;
}

.searchBar {
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.deleteBtn {
    -fx-background-color: #F00;
}

.editBtn {
    -fx-background-color: #E4E0E1;
    -fx-text-fill: #000;
}